<div style="text-align: center">
    <h3>Component MyFirstModel</h3>

    <sly data-sly-use.model="com.webjump.trilha03.core.models.MyFirstModelImpl"/>

    <form action="/content/trilha-03/us/en/jcr:content/root/container/container/my_first_model"
          method="post">
        <label for="clientName">Client name:</label>
        <input type="text" name="clientName" id="clientName" required><br>

        <label for="codeID">Code ID:</label>
        <input type="text" name="codeID" id="codeID" required><br>

        <label for="isNewClient">Is a new client?</label>
        <input type="checkbox" name="isNewClient" id="isNewClient"><br>

        <input type="submit" value="Submit">
    </form>

    <ul style="list-style-type: none;">
        <li>Client Name: ${model.clientName}</li>
        <li>Code ID: ${model.codeID}</li>
        <li>Is a new client?: ${model.isNewClient ? "No" : "Yes"}</li>
    </ul>


</div>
